::placeholder {
    color: white;
}

.searchbar-content {
    width: 90%;
    border-bottom: 1px solid white;
}

.searchbar-content input[type="text"]{
    border: 0;
    background-color: #313541;
    color: white;
}

.faSearch {
    color: white;
}